<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button color="primary"></ion-menu-button>
		  </ion-buttons>

	  <ion-title color="primary">Vas profil</ion-title>
	</ion-toolbar>
  </ion-header>
  

  <ion-content padding-class="background" [fullscreen]="true">
	<form profileForm="ngForm" *ngIf="isLoading"> <!--ng subnmit je ovde bio-->
	  <ion-grid>
		<ion-row>
		  <ion-col size-sm="6" offset-sm="3">
			<ion-list>
			  <ion-item>
				<ion-label >Ime:</ion-label>
				<p></p>
				<ion-label >{{user.name}}</ion-label>
			  </ion-item>
  
  
			  <ion-item>
				<ion-label>Prezime:</ion-label>
				<p></p>
				<ion-label >{{user.lastname}}</ion-label>
			  </ion-item>

			  <ion-item>
				<ion-label >Email:</ion-label>
				<p></p>
				<ion-label >{{user.email}}</ion-label>
			  </ion-item>
  
			 
  
			</ion-list>
		  </ion-col>
		</ion-row>
		
		
	  </ion-grid>
	</form>

	
	<ion-img *ngIf="haveImage" [src]="src"></ion-img>
		  
	
	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
	
		<ion-fab-button  (click)="addPhotoToGallery()">
		  <ion-icon name="camera"></ion-icon>
		</ion-fab-button>
	  </ion-fab>
  
  
  </ion-content>