<ion-header>
  <ion-toolbar>
    <ion-title>{{naslov}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Close</ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button >
      <ion-icon name="create-sharp" (click)="onEditRecipeClick()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="trash-sharp" (click)="onDeleteRecipeClick()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item >
    <ion-label position="floating">Naziv: </ion-label>
    <ion-input
    name="nazivRecepta" 
    type="text" 
    [(ngModel)]="naziv"
    (input)="onChangeOfNazivRecepta($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Opis: </ion-label>
    <ion-textarea
    name="nazivRecepta" 
    type="text" 
    [(ngModel)]="opis"
    (input)="onChangeOfOpisRecepta($event)"></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col >
        <ion-item lines="none">
          <ion-icon name="calculator-outline"></ion-icon>
          <ion-input placeholder="Broj porcija" 
            name="unetaKolicina" 
            type="text" 
            (input)="onChangeOfUnetaKolicina($event)"
            [(ngModel)]="kolicina"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-button expand="block" color="primary" size="default" (click)="onDodaj()">
      {{buttonText}}
    </ion-button>
    
    <ion-grid>
    <ion-row >
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Kalorija</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{kalorija}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Masti</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{masti}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>U. hidrata</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{ugljenihHidrata}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Proteina</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{proteina}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            Sastojci:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-food-recipe *ngFor="let sastojak of sastojci" [sastojak]="sastojak"></app-food-recipe>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
</ion-content>