.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  will-change: transform;
}
.naziv {
  margin-top: 0px;
  font-size: 28px;
  margin-bottom: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  //width: 50%;
}
