<ion-app>

  
  <ion-menu side="start" contentId="main" type="overlay" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Meni</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/profil">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>Profil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/unos">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            <ion-label>Unos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/photo">
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label>Photos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pretraga">
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label>Pretraga</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/izvestaj">
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            <ion-label>Izvestaj</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pretraga/tabs/cookbook">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            <ion-label>Recepti</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="onLogOut()" routerLink="/login">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Odjava</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>