<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Vasi recepti</ion-label>
  </ion-item>

  <ion-list>
    <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" ></app-recipe-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="onAddRecipeClick()"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

