<!--<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item (click)="onRecipeDetails()">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>{{recipe.naziv}}</ion-label>
        <ion-label>{{recipe.kalorija}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>-->
  <ion-card class="featured" (click)="onRecipeDetails()">
    <ion-card-header>
      <img [src]= image />              
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
          {{recipe.naziv}}
        </ion-card-title>  
        <ion-card-subtitle color="tertiary">{{recipe.vreme}} min</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  

