<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary"> Welcome </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-class="background" [fullscreen]="true">
  <ion-grid>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row> 
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row><br /></ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" offset="3.7" offset-lg="5">
        <ion-button
          routerLink="/login"
          color="primary"
          fill="solid"
          shape="round"
          size="large"
        >
          Log in
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" offset="3" offset-lg="5">
        <ion-button
          routerLink="/register"
          color="primary"
          fill="solid"
          shape="round"
          size="large"
        >
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
