<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Dnevni unos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onFabClick()">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/pretraga" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col >
        <ion-list *ngFor="let stavka of stavke">
          <ion-item class ="module stavka" (click)="selectStavka(stavka)">
            <ion-title>{{stavka.naziv}}</ion-title>
            <ion-label>{{stavka.kalorija}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item *ngIf="!isLoading">
    <ion-label>Ukupno unetih kalorija</ion-label>
    <ion-label>{{ukupnoKalorija}}</ion-label>
  </ion-item>

</ion-content>
