<ion-header>
  <ion-toolbar>
    <ion-title>Recipe details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item >
    <ion-label position="floating">Naziv: </ion-label>
    <ion-input
    name="nazivRecepta" 
    type="text" 
    [(ngModel)]="naziv"
    (input)="onChangeOfNazivRecepta($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Opis: </ion-label>
    <ion-textarea
    name="nazivRecepta" 
    type="text" 
    [(ngModel)]="opis"
    (input)="onChangeOfOpisRecepta($event)"></ion-textarea>
  </ion-item>

  <ion-button expand='block' color="primary" size="default" (click)="onDodaj()">
    {{buttonText}}
  </ion-button>

  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Calories</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{kalorija}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Total Fat</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{masti}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Total Carb</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{ugljenihHidrata}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-item color="medium" class="ion-text-center">
            <ion-label>Protein</ion-label>
          </ion-item>
          <ion-card-content class="ion-text-center">
            {{proteina}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row >
      <ion-col offset="2">
        <ion-button routerLink="/pretraga/tabs/food" color="primary" size="default" (click) = "onDodajSastojke()">
          DODAJ SASTOJKE
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            Sastojci:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-food-recipe *ngFor="let sastojak of sastojci" [sastojak]="sastojak"></app-food-recipe>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
